@model InternshipChallenge1.Models.AccountContentComment

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-primary">Details</h1>

<div>
    <h4>AccountContentComment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Message)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountsContentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountsContentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountsContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountsContent.AccountsContentId)
        </dd>*@
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.AccountContentCommentId">Edit</a> |
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>
