@model InternshipChallenge1.Models.AccountsContent

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-primary">Details</h1>

<div>
    <h4>AccountsContent</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            <img src="@Url.Action("RenderImage", new { id = Model.AccountsContentId})" style="width:150px;" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublicationData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublicationData)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Account)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Account.Id)
        </dd>*@
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-controller="AccountContentComment" asp-action="Index" asp-route-id="@Model.AccountsContentId">Account content comments</a> |
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.AccountsContentId">Edit</a> |
    <a class="btn btn-primary" asp-controller="AccountsContent" asp-action="Index" asp-route-id="@Model.AccountId">Back to List</a>
</div>
